<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comment creation form</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/library.css" th:href="@{css/library.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/createComment.js"></script>
</head>
<body>

<form id="create-comment-form" class="create-comment-form">
</form>
<a href="index.html" th:href="@{/}">Back to main</a>
<br/>
<a href="allComments.html" th:href="@{/comments}">Back to all comments</a>
</body>
</html>